body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1rem;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h4 {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

nav {
    margin-top: 1rem;
    background-color: #f4f4f4;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.nav {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.2s;
    cursor: pointer;
}

.nav a:hover {
    color: #0077cc;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-width: 30rem;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-content p,
.modal-content h2 {
    margin-bottom: 2rem;
}

.order-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.order-list li {
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px dashed #eee;
}

.order-list li:last-child {
    border-bottom: none;
}

.order-count span{
    padding: 0 1rem;
}

.order-send{
    display: flex;
    justify-self: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.table-card {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    flex: 1;
    min-width: 16rem;
    max-width: 25rem;
}

.table-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.table-number {
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.table-buttons {
    padding: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

.table-buttons button, .order-send{
    padding: 1rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #bbbaba;
    cursor: pointer;
}

.table-buttons button:hover {
    background-color: #ddd;
}

.total-price {
    padding-top: 0.5rem;
}

.table-settings button,
.toggle-settings-btn {
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #d8d8d8;
    cursor: pointer;
}

.number-input {
    max-width: 5.4rem;
}

.input {
    padding: 0.2rem;
}

.waiter-choice {
    padding: 0.5rem 0;
}

.table-settings {
    padding-top: 1rem;
}

.toggle-settings-btn {
    display: flex;
    justify-self: center;
}

.table-list {
    max-width: 80rem;
    margin: auto;
}

.table-list h2 {
    text-align: center;
    padding: 2rem;
}